.l-proud
  @extend .l-section
  
  &__row
    display: flex
    justify-content: space-between

  &__col
    width: calc(50% - 10px)
  &__text-note
    max-width: 290px
    margin-left: 17px
    margin-top: 14px
    p
      line-height: 1.85em