<div class="navbar">
  <div class="container">
    <div class="navbar__inner">
      <a class="navbar__logo" href="/"><img src="./img/logo/logo.png" alt=""></a>
      <div id="nav" class="navbar__body">
        <input type="text" class="navbar__search-field" placeholder="Поиск" size="10">
        <!-- menu -->
        <ul class="menu navbar__menu">
          <li class="menu__item"><a href="/page-services.html">Гражданам</a></li>
          <li class="menu__item"><a href="">Бизнесу</a></li>
          <li class="menu__item menu__sub"><a href="">О</a> нас</li>
          <li class="menu__item menu__sub"><a href="">Справка</a></li>
          <li class="menu__item menu__sub"><a href="">Пресс</a>-центр</li>
          <li class="menu__item"><a href="">Контакты</a></li>
        </ul>
        <!-- contact -->
        <div class="navbar__contact">
          <a href="tel:+74955459364" class="navbar__phone">+7 (495) 545-93-64</a>
          <button class="navbar__btn-callback">Заказать звонок</button>
        </div>
      </div>
      <svg id="nav-toggler" class="navbar__toggler" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.9901 11.49H1.00986C0.452148 11.49 0 11.9421 0 12.4999C0 13.0576 0.452148 13.5097 1.00986 13.5097H23.9901C24.5479 13.5097 25 13.0576 25 12.4999C25 11.9421 24.5479 11.49 23.9901 11.49Z" fill="#935735"/>
        <path d="M23.9901 3.82983H1.00986C0.452148 3.82983 0 4.28198 0 4.8397C0 5.39741 0.452148 5.84956 1.00986 5.84956H23.9901C24.5479 5.84956 25 5.39741 25 4.8397C25 4.28198 24.5479 3.82983 23.9901 3.82983Z" fill="#935735"/>
        <path d="M23.9901 19.1501H1.00986C0.452148 19.1501 0 19.6022 0 20.16C0 20.7178 0.452148 21.1699 1.00986 21.1699H23.9901C24.5479 21.1699 25 20.7178 25 20.16C25 19.6022 24.5479 19.1501 23.9901 19.1501Z" fill="#935735"/>
      </svg>
    </div>
  </div>
</div>
