// Colors
$black: #484848
$black-x: #252525
$brown: #da955c
$brown-x: #F2CEB0
$brown-dark-x: #935735
$grey: #6f6f6f
$grey-x: #B8B8B8
$grey-light-x: #f9f8f5
$white: #fff
$white-x: #eefbfa

.bg-grey
  background-color: $grey-light-x
.bg-brown
  background-color: $brown
.bg-brown-x
  background-color: $brown-x
.bg-brown-dark-x
  background-color: $brown-dark-x
.bg-white
  background-color: $white
.bg-dark
  background-color: $black-x

.border-white
  border-color: $white
.border-brown
  border-color: $brown
.border-grey-x
  border-color: $grey-x


.color-white
  color: $white
.color-brown
  color: $brown
.color-grey
  color: $grey
.color-grey-x
  color: $grey-x