body
	position: relative
	width: 100%
	min-width: 320px
	margin: auto
	font-size: $font-root
	line-height: 1.5
	color: $black
	overflow-x: hidden
	font-family: $font-main, sans-serif

.container
	position: relative
	max-width: 1280px
	margin: 0 auto
	padding: 0 70px
	box-sizing: border-box
	@include laptop-down
		padding: 0 30px

	&.narrow
		@include laptop-up
			padding: 0 150px
