$font-main: 'Opens Sans', sans-serif
$font-second: 'Playfair Display', sans-serif

$font-root: 14px

// --------------------------------------------

.f-second
	font-family: $font-second

// Titles
.page-title
	font-weight: 700
	@include text-responsive(50, 24, 1.2)
	@include text-gradient(linear-gradient(90deg, #85410c 0%, #da955c 0%, #da955c 0%))
	text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25)
	@include phone-wide
		text-shadow: none

.title
	font-family: $font-second
	@include text-responsive(30, 20)

.title-bd-left
	@extend .title
	max-width: 650px
	padding-left: 0.6em
	border-left-width: 5px
	border-left-style: solid

.title-bd-top
	@extend .title
	position: relative
	span
		display: inline-block
		position: relative
		z-index: 1
		input
			display: inline-block
			position: absolute
			top: 0.9em
			left: 0
			right: 0
			height: em(8, 30)
			margin: 0 auto
			background-color: #EDD4C0
			border-width: 0
			z-index: 0
			@include phone-wide
				top: 1em
				max-width: 180px

.cut-text
	position: relative
	overflow: hidden
	&::after
		content: ''
		display: block
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 5em
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%,)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )


// Links
.link
	display: inline-flex
	align-items: center
	@include text-responsive(17, 15)
	text-decoration: none
	&__icon
		display: inline-block
		margin-left: 3px
		vertical-align: middle
		transition: all 0.2s
	&:hover
		.link__icon
			margin-left: 10px


.hr
	border-top: 0
	border-bottom-width: 1px
	border-style: solid
.hr-mini
	width: 38px

.quote
	position: relative
	padding: 65px 57px
	&::before,
	&::after
		content: ''
		display: block
		position: absolute
		width: 38px
		height: 31px
		background-size: contain
	&::before
		left: 40px
		top: 20px
		background-image: url('../img/icons/quote-start.svg')
	&::after
		right: 40px
		bottom: 20px
		background-image: url('../img/icons/quote-end.svg')
	@include phone-wide
		margin-left: -15px
		margin-right: -15px
		padding-left: 15px
		padding-right: 15px
		&::before,
		&::after
			width: 30px
			height: 24px
		&::before
			left: 15px
		&::after
			right: 15px

.quote-sm
	@extend .quote
	padding: 30px 30px
	margin-left:  0
	margin-right: 0
	padding-left: 0
	padding-right: 0
	&::before,
	&::after
		width: 24px
		height: 19px
	&::before
		top: 0px
		left: 0px
	&::after
		right: 0px
		bottom: 7px


.text-stretch
	letter-spacing: 0.61em
	text-transform: uppercase
	font-family: $font-second

.text-uppercase
	text-transform: uppercase

.text-underline
	text-decoration: underline
.text-nodecor
	text-decoration: none

.text-center
	text-align: center
.text-left
	text-align: left
.text-va-middle
	vertical-align: middle
.text-va-bottom
	vertical-align: bottom

.ws-nowrap
	white-space: nowrap


.text-dashed
	&::before
		content: '\2501'
		display: inline-block
		margin-right: 0.5em
		color: $brown

.fw800
	font-weight: 800
.fw700
	font-weight: 700
.fw600
	font-weight: 600
.fw500
	font-weight: 500
.fw400
	font-weight: 400
.fw300
	font-weight: 300

// responsive Text set:
// example: .t(n) { font-size: (n)px }
@for $i from 10 through 40
	.t#{$i}
		@include text-responsive($i)

.t54
	@include text-responsive(54,38,1.0)
.t50
	@include text-responsive(50,30,1.2)
.t45
	font-size: 45px
	line-height: 1
.t150
	font-size: 150px
	line-height: 1
