// Devices
@mixin laptop-up
  @media screen and (min-width: 1200px)
    @content
@mixin laptop-down
	@media screen and (max-width: 1199px)
		@content
@mixin tablet-up
	@media screen and (min-width: 980px)
		@content
@mixin tablet-down
	@media screen and (max-width: 979px)
		@content
@mixin phone-wide
	@media screen and (max-width: 600px)
		@content
@mixin phone-narrow
	@media screen and (max-width: 420px)
		@content

// Button size
@mixin btn-size($font-size, $height, $horizontal-padding)
	display: inline-block
	padding-top: ($height - $font-size) / 2 / $font-size * 1em
	padding-bottom: ($height - $font-size) / 2 / ($font-size - 0px) * 1em
	padding-left: $horizontal-padding / $font-size * 1em
	padding-right: $horizontal-padding / $font-size * 1em
	box-sizing: border-box
	font-size: $font-size
	line-height: 1

// Button theme
@mixin btn-color($color, $bg)
	color: $color
	background-color: $bg

// Card theme
@mixin card-theme
	padding: 23px 16px
	box-sizing: border-box
	border-radius: 10px
	box-shadow: 0px 4px 15px rgba(149, 149, 149, 0.25)


@function calc-em($value, $font-size)
	@return $value / $font-size + em

@function calc-lineHeight($font-size)
	@if $font-size <= 16
		@return 1.5
	@if $font-size > 16 and $font-size <= 20
		@return 1.4
	@if $font-size > 20 and $font-size <= 25
		@return 1.3
	@if $font-size > 25 and $font-size <= 30
		@return 1.2
	@if $font-size > 30 and $font-size <= 40
		@return 1.15
	@if $font-size > 40
		@return 1.05
	@else
		@return 1.00

@mixin text-responsive($max-size, $min-size: 14, $line-height: undefined)
	font-size: $max-size + px
	@if $line-height != undefined
		line-height: $line-height
	@else
		line-height: calc-lineHeight($max-size)

	$ratio-set: ("1100px": 0.75, "980px": 0.57, "420px": 0.4)
	@each $breakpoint, $ratio in $ratio-set
		@if $max-size * $ratio > $min-size
			@media screen and (max-width: $breakpoint)
				font-size: $max-size * $ratio + px
				@if $line-height == undefined
					line-height: calc-lineHeight($max-size * $ratio)
		@else
			@media screen and (max-width: $breakpoint)
				font-size: $min-size + px
				@if $line-height == undefined
					line-height: calc-lineHeight($max-size * $ratio)


// Text Gradient
@mixin text-gradient($gradient-rule)
  background: $gradient-rule
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent