@mixin l-banner
  position: relative
  box-sizing: border-box
  background-repeat: no-repeat
  background-color: #F9F8F6

  &__title
    margin-top: 1em
    margin-bottom: 1.0em

  &__text
    max-width: 510px